<div class="pagenav">
  <%= link_to 'Edit', edit_email_priority_path(@email_priority) %> |
  <%= link_to 'Back', email_priorities_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_priority.name %>
</p>



