<div class="pagenav">
  <%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Relation:</b>
  <%= @relation.relation %>
</p>



