<div class="pagenav">
  <%= link_to 'Edit', edit_expense_tax_type_path(@expense_tax_type) %> |
<%= link_to 'Back', expense_tax_types_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expense_tax_type.name %>
</p>



