<div class="pagenav">
  <%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @color.color %>
</p>



